/.bundle
/vendor/bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/assets
.byebug_history

/config/master.key
/config/initializers/secret_token.rb
/config/secrets.yml

.env
Gemfile.lock
.ruby-version
/spec/tmp
/coverage/
.rspec

/public/system
/public/packs
/public/packs-test
/public/assets

/storage/*
