.episode__player {
  margin: auto;
  display: flex;
  max-width: 640px;
  margin-bottom: 64px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0 4px white, 0 0 0 6px #fedc00;
}

.episode__player .podcast-full__tabs {
  margin-bottom: 0;
  background: black;
  border: none;
  --navbar-color: white;
}

.episode__player + .podcast-small .podcast-small__item {
  top: -478px;
}

.podcast-title {
  display: none;
}