h1 = @episode.title
br
iframe src = "https://www.youtube.com/embed/#{@episode.video}" width = '560' height = '315' frameborder = '0' allow = 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen
