.podcast {
  margin-top: 32px;
}

.podcast-timetable__outline + .content .podcast-small__list {
  margin-top: 100px;
}

.podcast-small {
  display: flex;
}

.podcast-small__content {
  flex: 2;
}

.podcast-small + .podcast-small {
  margin-top: 160px;
}

.podcast-small {
  margin-top: 80px;
}

.podcast-small__item {
  position: relative;
  flex: 1;
}

.podcast-small__img-bg {
  position: relative;
  background: white;
  height: 164px;
}

.podcast-small__img {
  height: 164px;
  background-color: black;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.podcast-small__title {
  position: relative;
  color: black;
  display: block;
  margin-bottom: 24px;
}

.podcast-small__number {
  color: #6c757d;
  font-weight: bold;
}

.podcast-small__title::before {
  content: "";
  width: 2px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 100%;
  right: calc(100% + 12px);
  background-color: #fedc00;
}

.podcast-small__text {
  font-size: 32px;
  font-weight: bold;
}

.podcast-small__content {
  padding: 0 64px;
  box-sizing: border-box;
  position: relative;
}

.podcast-small + .podcast-small .podcast-small__content::after {
  content: "";
  position: absolute;
  border: 1px dotted #fedc00;
  bottom: 100%;
  bottom: calc(100% + 80px);
  left: 0;
  right: 0;
}

.podcast-small__sponsor {
  font-style: italic;
  margin-top: 24px;
}

.podcast-small__sponsor span:last-child {
  font-weight: bold;
  display: block;
}

.podcast-date {
  font-weight: 400;
  margin-left: auto;
}

/* keynote */
.key-note {
  display: flex;
  font-size: 18px;
}

.key-note + .key-note {
  margin-top: 16px;
}

.key-note__link {
  text-decoration: none;
  display: flex;
  line-height: 1.1;
}

.key-note__name {
  display: inline;
  text-decoration: dotted;
}

.key-note__time {
  margin-right: 24px;
  color: #6c757d;
  font-size: 14px;
  width: 68px;
  min-width: 68px;
  display: block;
}

.key-note__time.key-note__time--small {
  width: 18px;
  min-width: 18px;
}

/* comments */
.podcast__comments {
  width: 1px !important;
  min-width: 800px !important;
  max-width: 800px;
  margin: 160px auto;
  border: none !important;
  overflow: hidden !important;
  height: 82787px;
}

.podcast__comments-wr {
  display: flex;
  justify-content: center;
  position: relative;
}

.podcast__comments-wr::before {
  content: '';
  height: 2px;
  position: absolute;
  width: 40%;
  bottom: 100%;
  bottom: calc(100% - 80px);
  background: #fedc00;
  left: 0;
}

.podcast__comments-wr::after {
  content: '';
  height: 2px;
  position: absolute;
  width: 70%;
  bottom: 100%;
  bottom: calc(100% - 90px);
  background: #fedc00;
  left: 20%;
}

/* tabs */
.podcast-full__tabs {
  /* background-color: black; */
  border: 1px dotted #6c757d;
  /* --navbar-color: white; */
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.podcast-small--is-full_true {
  margin-top: 0!important;
}

/* speakers */
.podcast-full__speakers-wr {
  display: flex;
  justify-content: space-around;
  padding: 0 24px 24px;
  margin-top: 64px;
  border: 1px dotted #6c757d;
}

.podcast-full__speaker-avatar {
  width: 32px;
  height: 32px;
  position: relative;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white;
  border-radius: 50%;
}

.podcast-full__speaker-avatar:hover {
  z-index: 1;
}

.podcast-full__speakers-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}