.logo {
  width: 72px;
  height: 72px;
}

.youtube-video {
  width: 560px;
  height: 315px;
}

<<<<<<< HEAD
.timecode-wrapper {
  padding: 0 40px;
}

.timecode-info {
  display: inline;
  padding-right: 5px;
}

.start-end-info {
  padding-left: 15px;
  font-weight: bold;

.youtube-image {
  height: '100%';
  width: '100%';
}
