body.container {
  padding-top: 60px
}

footer {
  padding-top: 60px
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.btn-mdb-color {
  background-color: #59698d!important;
  color: #fff;
}

.float-left {
  float: left!important;
}

.btn-rounded {
  border-radius: 10em;
}

.file-field input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
