<!DOCTYPE html>
<html>
  <head>
    <title>Proconf</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body class="container body-container">    

    <%= render 'partials/navbar' %>
    <%= yield %>
    <%= render 'partials/footer' %>

  </body>
</html>
